version: '3.8'

services:
  db:
    image: postgres:16.1
    container_name: lotto_app_psql_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: <your_custom_db>
      POSTGRES_USER: <your_custom_username>
      POSTGRES_PASSWORD: <your_custom_password>
      PGDATA: /var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  postgres_data:
