[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.100.0"
uvicorn = ">=0.21.1"
sqlalchemy = ">=2.0.10"
psycopg2-binary = "*"
alembic = ">=1.10.3"
pandas = ">=2.0.1"
setuptools = "*"
pydantic = ">=2.0"
pydantic-settings = "*"
certifi = "*"
mcp = {version = ">=1.0.0", extras = ["cli"]}

[dev-packages]

[requires]
python_version = "3.11"
